@font-face {
    font-family: 'Montserrat-Bold';
    src: local('Montserrat-Bold'), url('../fonts/Montserrat-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'Montserrat-Light';
    src: local('Montserrat-Light'), url('../fonts/Montserrat-Light.otf') format('opentype');
}
@font-face {
    font-family: 'Montserrat-Medium';
    src: local('Montserrat-Medium'), url('../fonts/Montserrat-Medium.otf') format('opentype');
}

* {
    margin: 0;
    font-family: 'Montserrat-Light', serif;
}

body {
    background: url("../img/bg.jpg") center no-repeat fixed;
    background-size: cover;
}